:root {
  --c-bg: rgb(255 234 217);
  --c-text: rgb(31 41 55);
  --brand-fontStack-sansSerif: "Mona Sans", "MonaSansFallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --base-text-weight-semibold: 600;
  --base-size-24: 1.5rem;
  --base-size-32: 2rem;
  --brand-color-text-default: #000;
  --base-size-16: 1rem;
}
